.crypto-layout{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.crypto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.crypto-container .coin-price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc;
    margin: 7px;
}

.crypto-container .coin-price .logo {
    width: 70px;
    margin-right: 10px;
}
.crypto-container .coin-price div {
    display: block;
}


.crypto-container .coin-price .logo img {
    width: 100%;
}


.crypto-container .coin-price div h3 {
    color: #fff;
}
